@font-face {
    font-family: "CloudWorld";
    src: url(../assets/fonts/CloudWorld.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorGold: #bd944f;
    --fontTeom: "CloudWorld";
    --fontPloni: 'Roboto', sans-serif;
}

.container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}

.wrapper {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../assets/img/headerBg.webp);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 375px;
}

.header {
    .container{
        position: relative;
        padding-top: 161px;
        display: flex;
        justify-content: center;
        padding-left: 28px;
        background-image: url(../assets/img/headerBg-2.png);
        background-position: top right;
        background-position-x: -50%;
        background-repeat: repeat-y;
        background-size: auto;
        min-height: 280px;

        @media (max-width: 1100px) {
            padding-top: 10%;
            background-size: 50%;
            background-position-x: 141%;
            background-position-y: 4%;
            
        }

        @media (max-width: 768px) {
            padding-top: 5%;
        }

        @media (max-width: 375px) {
            padding: 20px 10px;
        }

        img{
            width: 100%;
            height: auto;
        }

        .logo {
            width: 920px;
            height: auto;
        }
        
        .cosmetics {
            position: absolute;
            z-index: 20;
        }
        .serenity-legend {
            width: 15%;
            top: 23%;
            left: 0;
            @media (max-width: 768px) {
                top: 3%;
                width: 20%;
            }
            @media (max-width: 375px) {
                top: -1%;
                left: 0;
                width: 26%;
            }
        }

        .victoria-secret {
            width: 22%;
            top: 24%;
            left: 8%;
            @media (max-width: 1440px) {
                left: 4%;
            }
            @media (max-width: 1200px) {
                left: 2%;
            }
            @media (max-width: 768px) {
                left: 35%;
                top: 35%;
            }
            @media (max-width: 375px) {
                width: 30%;
                top: 38.5%;
                left: 29.5%;
            }
        }

        .ritual-of-carma {
            width: 18%;
            top: 11%;
            right: 11px;
            @media (max-width: 768px) {
                width: 22%;
                top: 2%;
            }
            @media (max-width: 375px) {
                width: 25%;
                top: 0;
                right: -2%;
            }
        }

        .molton-brown {
            width: 18%;
            top: 45%;
            right: 0;
            @media (max-width: 768px) {
                width: 25%;
                top: 35%;
            }
            @media (max-width: 375px) {
                top: 40%;
            }
        }
    }
}

.invites {
    .container {
        padding: 85px 120px;
        background-repeat: no-repeat;
        @media (max-width: 860px) {
            padding: 85px 20px;
        }

        @media (max-width: 708px) {
            padding: 0 5px;
        }

        h2 {
            font-family: var(--fontTeom);
            font-size: 60px;
            font-weight: bold;
            text-align: center; 
            color: var(--colorGold);
            line-height: 65px;
            direction: rtl;
            letter-spacing: 3px;

            @media (max-width: 860px) {
                font-size: 45px;
                line-height: 50px;
            }

            @media (max-width: 708px) {
                font-size: 30px;
                line-height: 30px;
                letter-spacing: 1.5px;
            }

            @media (max-width: 375px) {
                padding-top: 65px;
                font-size: 29px;
                line-height: 31px;
                letter-spacing: 1;
            }
        }

    }
}

.blog-title {
    .container {
        padding: 60px 120px;
        @media (max-width: 708px) {
            padding: 15px 10px; 
        }

        h2 {
            font-family: var(--fontTeom);
            font-size: 60px;
            font-weight: bold;
            text-align: center; 
            color: var(--colorGold);
            line-height: 40px;
            direction: rtl;
            letter-spacing: -1px;

            @media (max-width: 860px) {
                font-size: 45px;
                line-height: 40px;
            }

            @media (max-width: 708px) {
                font-size: 25px;
                line-height: 25px;
                padding: 0 15px;
            }
        }

    }
}

.blog {
    .container {
        padding: 40px 120px;

        &-blog {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 30px;

            &-item{
                display: block;

                img {
                    width: 100%;
                    height: auto;
                }

                &-wrapper {
                    background-color: white;
                    padding: 12px;
                    display: flex;
                    flex-direction: column;

                    &-title {
                        color: var(--colorGold);
                        font-family: var(--fontTeom);
                        font-weight: bold;
                        font-size: 44px;
                        line-height: 47px;
                        direction: rtl;
                        margin-top: 30px;
                        margin-right: 18px;
                        padding-left: 0px;
                        letter-spacing: 1px;
                        margin-bottom: 35px;

                        @media (max-width: 708px) {
                            font-size: 20px;
                        }





                    }


                    &-row {
                        display: flex;
                        flex-direction: row-reverse;
                        background-color: white;
                        padding: 12px;
                        margin-top: 55px;

                        &-title {
                            margin-right: 30px;
                            padding-left: 30px;
                            color: var(--colorGold);
                            font-family: var(--fontTeom);
                            font-weight: bold;
                            font-size: 44px;
                            line-height: 47px;
                            direction: rtl;
                            margin-top: 30px;
                            letter-spacing: 1px;
                            margin-bottom: 35px;
                        }
                    }
                
                }



                &:first-child {
                    width: 424px;
                    @media (max-width: 510px) {
                        width: 100%;
                    }
                }

                &:last-child {
                    width: 603px;
                    @media (max-width: 510px) {
                        width: 100%;
                    }
                }

                &-link {
                    margin-top: 0px;
                    direction: rtl;
                    display: flex;
                    justify-content: flex-end;

                    a {
                        font-family: var(--fontTeom);
                        font-weight: 400;
                        font-size: 40px;
                        line-height: 33px;
                        text-decoration: none;
                        color: black;
                        transition: .3s;

                        &:hover {
                            color: var(--colorGold);
                            transition: .3s;
                        }
                    }
                }
            }
        }
    }
}


.catalog-section {
    .container {
        
        background-image: url(../assets/img/catalogBg.png);
        background-repeat: no-repeat;
        background-position: 0 37%;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1320px) {
            background-image: none;
        }

        @media (max-width: 860px) {
            padding: 30px 35px;
        }

        h2 {
            font-family: var(--fontTeom);
            color: var(--colorGold);
            font-size: 60px;
            letter-spacing: 1px;
            direction: rtl;
            text-align: center;
            margin-bottom: 25px;

            @media (max-width: 860px) {
                font-size: 45px;
            }

            @media (max-width: 708px) {
                font-size: 30px;
                line-height: 30px;
                padding: 0 15px;
            }
        }

        .promo {
            width: 618px;
            height: 334px;
            background-color: #bd944f;

            @media (max-width: 708px) {
                width: 100%;
                height: auto;
            }


            h3 {
                font-family: var(--fontTeom);
                color: white;
                direction: rtl;
                font-size: 60px;
                letter-spacing: 2px;
            }
        }

        .catalog-items {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: wrap;
                justify-content: center;
                gap: 35px;
                margin-top: 135px;

                &-item {
                    .wrapper {
                        width: 517px;
                        height: 469px;
                        background-image: url(../assets/img/catalogItemsBg.png);
                        background-position: top;
                        background-repeat: no-repeat;
                        display: flex;
                        align-items: flex-start;
                        flex-direction: column;
                        direction: rtl;
                        position: relative;

                        img{
                            width: 100%;
                            height: auto;
                        }

                        @media (max-width: 1130px) {
                            width: calc(40%);
                        }

                        .bath {
                            &-green {
                                position: absolute;
                                top: 21%;
                                right: 42%;
                            }
                            &-yellow {
                                position: absolute;
                                top: 60%;
                                right: 61%;
                            }
                            &-417 {
                                position: absolute;
                                top: 61%;
                                right: 8%;
                            }
                        }

                        .body {
                            &-white {
                                position: absolute;
                                top: 34%;
                                right: 17%;
                            }

                            &-green {
                                position: absolute;
                                top: 26%;
                                right: 41%;
                            }
                            &-yellow {
                                position: absolute;
                                top: 40%;
                                right: 60%;
                            }
                        }

                        .hadns {
                            &-green {
                                position: absolute;
                                top: 42%;
                                right: 6%;
                            }
                            &-yellow {
                                position: absolute;
                                top: 12%;
                                right: 48%;
                            }
                        }

                        .peeling {
                            &-red {
                                position: absolute;
                                top: 22%;
                                right: 47%;
                            }
                            &-green {
                                position: absolute;
                                top: 39%;
                                right: 2%;
                            }
                        }

                    h3 {
                        margin-top: 20px;
                        margin-right: 5%;
                        font-family: var(--fontPloni);
                        font-size: 55px;
                        color: var(--colorGold);
                        background-color: white;
                        font-weight: 400;
                        padding: 17px 10px;
                        min-width: 360px;
                        text-align: center;
                        word-spacing: 2px;
                        padding: 17px 10px;

                        @media (max-width: 1130px) {
                            font-size: 40px;
                            min-width: 300px;
                        }


                        span {
                            font-weight: 700;
                        }
                    }

                }

                    &-link {
                        direction: rtl;
                        text-align: left;
                        margin-top: 30px;

                        a {
                            color: black;
                            text-decoration: none;
                            font-family: var(--fontTeom);
                            font-size: 40px;
                            letter-spacing: -2px;
                            line-height: 20px;
                            transition: .3s;

                            &:hover {
                                color: var(--colorGold);
                                transition: .3s;
                            }
                        }
                    }
                }
            }
        }       
    }

.footer {
    .container {
        direction: rtl;
        text-align: center;
        margin-top: 120px;
        padding-bottom: 50px;
        font-family: var(--fontTeom);
        font-size: 25px;
        font-weight: normal;
        color: black;
    }
}

.flacon {
    width: 100%;
    height: 100%;
    position: absolute;
}