@font-face {
  font-family: "CloudWorld";
  src: url(../assets/fonts/CloudWorld.ttf) format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorGold: #bd944f;
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.header .container {
  background-image: url(../assets/img/headerBg-2.png), url(../assets/img/headerBg.webp);
  background-position: top right, top;
  background-repeat: no-repeat;
  background-size: auto, cover;
  position: relative;
  height: 700px;
  padding-top: 161px;
  padding-left: 354px;
}
.header .container .cosmetics {
  position: absolute;
  z-index: 20;
}
.header .container .serenity-legend {
  top: 164px;
  left: 0;
  width: 247px;
  height: 271px;
  background-image: url(../assets/img/417.png);
}
.header .container .victoria-secret {
  top: 173px;
  left: 130px;
  width: 353px;
  height: 568px;
  background-image: url(../assets/img/victorias-secret.png);
}
.header .container .ritual-of-carma {
  background-image: url(../assets/img/ritual-of-carma.png);
  width: 286px;
  height: 256px;
  top: 83px;
  right: 145px;
}
.header .container .molton-brown {
  background-image: url(../assets/img/molton-brown.png);
  width: 303px;
  height: 472px;
  top: 321px;
  right: 0px;
}

.invites .container {
  padding: 85px 120px;
  background-image: url(../assets/img/headerBg.webp);
  background-position: center -700px;
  background-repeat: no-repeat;
}
.invites .container h2 {
  font-family: "CloudWorld";
  font-size: 60px;
  text-align: center;
  color: var(--colorGold);
  line-height: 65px;
  direction: rtl;
  letter-spacing: 3px;
}

.blog .container {
  padding: 60px 120px;
  background-image: url(../assets/img/headerBg.webp);
  background-position: center -1130px;
  background-repeat: no-repeat;
}
.blog .container h2 {
  font-family: "CloudWorld";
  font-size: 60px;
  text-align: center;
  color: var(--colorGold);
  line-height: 40px;
  direction: rtl;
  letter-spacing: -1px;
}
.blog .container-blog {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 30px;
}
.blog .container-blog-item {
  display: block;
}
.blog .container-blog-item-wrapper {
  background-color: white;
  padding: 12px;
  display: flex;
  flex-direction: column;
}
.blog .container-blog-item-wrapper-title {
  color: var(--colorGold);
  font-size: 44px;
  line-height: 47px;
  direction: rtl;
}
.blog .container-blog-item:first-child {
  width: 424px;
}